<%- include("partials/header") -%>

<!-- Landing page -->

<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "siqbe420f8f7c753c9d827e5e9b8340d3b1a4d4c4d677854a8b39f89e50f9db640d", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zohopublic.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
<script>window.$zoho=window.$zoho || {};$zoho.salesiq=$zoho.salesiq||{ready:function(){}}</script><script id="zsiqscript" src="https://salesiq.zohopublic.in/widget?wc=siqa93b7e08b442a4fb302eb04db326224a9aa1d8e1073f88d291c98da8a3b5c465" defer></script>
    <img src="images/background.jpeg" class="homeimg">
<a href="register" style="margin-top: 12px; font-weight: bold; margin:20px; margin-bottom:30px;background-color: #182747;
border: 1px solid #182747;
border-radius: 5px;
padding:15px;
color: black;
font-size: 35px;">
    <button type="button_ax" name="button_ax">Register as a student</button>
</a>

    <p style="padding-top: 16px; color: #182747; background-color: #dfe8fd;font-size: 45px; font-weight: bolder;">Schedule for Today</p>
    <br><br>
<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "161c1bd8fdf30322da4b026b472fe065427104f60e17394c07f098de648c73b0", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.in/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>


<!-- Images for news ticker -->

    <div class="news" id="news1">
        <img src="images/KIIT-Logo-Silver-Jubilee-25-Years.png" style="float: left;" height="300px" width="350px">
        <div class="newsContent">
            <h2 style="margin-top: 20px; font-weight: bold; color:white; margin:20px">Orientation Meeting</h2>
            <h4 >By college placement cell</h4>
            <h4>Time: 3:15 pm</h4>
            <h4>Venue: Mechanical Auditorium</h4>
            <h4>In this meeting TPO will be discussing schedule and the details of the companies which are going to visit campus.Also, TPO will be guiding students for upcoming internships and placements.</h4>
            <div class="btnDiv">
                <button class="transitionBtn" style="position: absolute;" onclick="showPrev('news1')"><</button>
                <button class="transitionBtn" style="position: absolute; margin-left: 60px;" onclick="showNext('news1')">></button>
            </div>
        </div>
    </div>

    <div class="news" id="news2" style="display: none;">
        <img src="images/intelLogo.png" style="float: left;" height="400px" width="350px">
        <div class="newsContent">
            <h2 style="margin-top: 20px; font-weight: bold;">Pre Placement Talk</h2>
            <h4>By Team Intel</h4>
            <h4>Time: 4:30 pm</h4>
            <h4>Venue: Mechanical Auditorium</h4>
            <h4>D E Shaw is going to visit today on our campus. So Pre placement talk is compulsory to attend for the students. In this they will be breifing about their hiring process. </h4>
            <div class="btnDiv">
                <button class="transitionBtn" style="position: absolute;"  onclick="showPrev('news2')"><</button>
                <button class="transitionBtn" style="position: absolute; margin-left: 60px;" onclick="showNext('news2')">></button>
            </div>
        </div>
    </div>

    <div class="news" id="news3" style="display: none;">
        <img src="images/facebookLogo.png" style="float: left;" height="400px" width="350px">
        <div class="newsContent">
            <h2 style="margin-top: 20px; font-weight: bold;">Coding Test</h2>
            <h4>By Team Facebook</h4>
            <h4>Time: 7:00 pm</h4>
            <h4>Venue: Online</h4>
            <h4>Facebook company has organised coding test for the students. Those students who are eligible should give this test. Test will start sharp at given time.</h4>
            <div class="btnDiv">
                <button class="transitionBtn" style="position: absolute;" onclick="showPrev('news3')"></button>
                <button class="transitionBtn" style="position: absolute; margin-left: 60px;" onclick="showNext('news3')">></button>
            </div>
        </div>
    </div>
    
<!-- Contact Information -->

    <div class="contact" >

        <!-- Upcoming Events -->
        <div class="upcoming" style="height: 500px; background-color:#dfe8fd; margin-top: 70px; width: 100%;">
            <p style="padding-top: 5px; color: #182747; font-size: 45px; font-weight: bolder;">UPCOMING SCHEDULE</p>
            <br><br>
            <div class="divTable" style="padding-left: 250px;">
                <table>
                    <tr>
                        <th>DATE</th>
                        <th>TIME</th>
                        <th>VENUE</th>
                        <th>COMPANY</th>
                        <th>EVENT</th>
                        <th>Branch</th>
                    </tr>
                    <tr>
                        <td>9th Oct</td>
                        <td>Full Day</td>
                        <td>Virtual</td>
                        <td>Tesco</td>
                        <td>Full process</td>
                        <td>All</td>
                    </tr>
                    <tr>
                        <td>11th Oct</td>
                        <td>Morning slot</td>
                        <td>Campus 6 Auditorium</td>
                        <td>Delloite</td>
                        <td>PPT + Online</td>
                        <td>Comp, IT & ENTC</td>
                    </tr>
                    <tr>
                        <td>12th Oct</td>
                        <td>Full Day</td>
                        <td>Campus 6 Auditorium</td>
                        <td>Delloite</td>
                        <td>Interview</td>
                        <td>Comp, IT & ENTC</td>
                    </tr>
                    <tr>
                        <td>17th Oct</td>
                        <td>11:15 AM</td>
                        <td>Virtual</td>
                        <td>Accenture</td>
                        <td>PPT</td>
                        <td>All</td>
                    </tr>
                </table>
            </div>
            <br><p><a href="https://docs.google.com/spreadsheets/d/1RxorROSjwUNCBdFEx9diyHNz-a1gG4jdYFIhfNZQTcE/edit#gid=887992152" style="font-size: 20px;" class="more_link">For more updates click here .....</a></p>
        </div>

        <div style="position: absolute; padding-left: 50px;">
            <h3 style="font-weight: bold; color: white; padding-top: 20px;">Training and Placement Officer:</h3>
            <br>
            <img src="images/Dmohanty.webp" width="150px" height="160px">
            <p style="font-weight: bold; padding-top:20px;font-size:large;margin-bottom: 0; color:white">Debashish Mohanty</p><br>
            <p style="margin-left: 0%; position: absolute; margin-left: 100px; margin-top: 0; color:white">Mobile: 9822493920<br>Email id: m.debasis@kiit.ac.in</p> 
        
        </div>

        <div style="border-left: 1px solid white; height: 400px; margin-left: 470px; position: absolute;"></div>

        <div style=" height:400px; margin-right: 0; margin-left: 570px;">
            <h3 style="font-weight: bold; color: white; padding-top: 20px;">Training and Placement Team 2022-23</h3>
            <div style="padding-top: 10px;">
                <img src="images/Ssingh.webp" height="160px" width="140px" style="margin-right: 30px;">
                <img src="images/Mkumar.webp" height="160px" width="140px" style="margin-right: 30px;">
                <img src="images/Tbakshi.png" height="160px" width="140px" style="margin-right: 30px;">
                <img src="images/Nkar.webp" height="160px" width="140px">
            </div>
            
            <div style="padding-top: 10px; padding-left: 0;">
                <p style="display: inline-block; margin-left: -40px; margin-right:50px; color: white;">Dr. Saranjit Singh<br> VC-KIIT</p>
                <p style="display: inline-block;  margin-right: 20px; color: white;">Dr. Kumar Mohanty<br> Director Industry Engagement <br>and Faculty Development</p>
                <p style="display: inline-block; margin-right: 50px; color: white;">Mr. T P Bakshi</p>
                <p style="display: inline-block; color: white;">Mr. Navendu Kar</p>
            </div>
            
            
            
           
    </div>
    
    



</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="static/scripts/responses.js"></script>
<script src="static/scripts/chat.js"></script>
<script type="text/javascript">
  window.addEventListener("message", (e) => {
    if (e.data.type === "speechsegment") {
      const segment = e.data.segment;

      // Handle speech segment and make tentative changes to app state
      console.log("speechsegment message:", segment);

      if (segment.isFinal) {
        // Handle speech segment and make permanent changes to app state
        // Optionally show confirmation
        window.postMessage({ type: "speechhandled", success: true }, "*");
      }
    }
  });
</script>
    <script>
        function showNext(current)
        {
            switch(current){
                case 'news1': $("#news1").hide(); $("#news2").show(); break;
                case 'news2': $("#news2").hide(); $("#news3").show(); break;
                case 'news3': alert("End"); break;
            }
        }

        function showPrev(current)
        {
            switch(current){
                case 'news1': alert("End"); break;
                case 'news2': $("#news2").hide(); $("#news1").show(); break;
                case 'news3': $("#news3").hide(); $("#news2").show(); break;
            }
        }

        $(".more_link").mouseover(function(){
            $(this).css("color","black");
            $(this).mouseleave(function(){
            $(this).css("color","#182747");
            });
        });
    </script>


<%- include("partials/footer") -%>
