<div style="background-color: #ebf0fc;">
   <%- include("partials/header") -%>

        <h1 class="heading" style="margin-top: 70px; color: #182747;">INTERVIEW PREPARATION</h1>

        <h4 class="heading" style="margin-top: 70px; color: #182747;">CODING PLATFORMS</h4>
           <div class="main">

            <!--cards -->
            <div class="card" style="background-color: white;">

               <div class="image">
                  <img src="images/gfg.jpeg">
               </div>
               <div class="title">
                <h1></h1>
                <h1></h1>

               </div>
               <div class="des">
                  <a href="https://www.geeksforgeeks.org/">
                     <button type="button">more Info...</button>
                  </a>
               </div>
               </div>
           <!--cards -->


           <div class="card" style="background-color: white;">

           <div class="image">
              <img src="images/hk.jpeg">
           </div>
           <div class="title">
            <h1>
           </h1>
           </div>
           <div class="des">
            <a href="https://www.hackerrank.com/domains/sql">
               <button type="button">more Info...</button>
            </a>
           </div>
           </div>
           <!--cards -->


           <div class="card" style="background-color: white;">

           <div class="image">
              <img src="images/leet.jpeg">
           </div>
           <div class="title">

           </div>
           <h1></h1>
           <h1></h1>
           <h1></h1>
           <div class="des">
            <a href="https://leetcode.com/">
              <h1></h1>
              <h1></h1>
              <h1></h1>
              <h1></h1>
              <h1></h1>

               <button type="button">more Info...</button>
            </a>
           </div>
           </div>


           <div class="card" style="background-color: #ebf0fc;">

              <div class="">
                 <img src="">
              </div>
              <div class="">
               <h1></h1>
               <h1></h1>

              </div>
              <div class="">
                 <a href="">
                    <button type="button"></button>
                 </a>
              </div>
              </div>



          <h4 class="heading" style="margin-top: 70px; color: #182747;">APTITUDE PLATFORMS</h4>



         <div class="card" style="background-color: #ebf0fc;">

            <div class="">
               <img src="">
            </div>
            <div class="">
             <h1></h1>
             <h1></h1>

            </div>
            <div class="">
               <a href="">
                  <button type="button"></button>
               </a>
            </div>
            </div>
   <!--cards -->
           <div class="card" style="background-color: white;">

           <div class="image">
              <img src="images/indiabix.jpeg">
           </div>
           <div class="title">
            <h1>
           </h1>
           </div>
           <div class="des">
            <a href="https://www.indiabix.com/">
               <button type="button">more Info...</button>
            </a>
           </div>
           </div>
           <!--cards -->


           <div class="card" style="background-color: white;">

            <div class="image">
               <img src="images/amcat.jpeg">
            </div>
            <div class="title">
             <h1>AMAZON</h1>
            </div>
            <div class="des">
             <a href="https://www.myamcat.com/">
                <button type="button">more Info...</button>
             </a>



            </div>
            </div>
            <!--cards -->

           <div class="card" style="background-color: white;">

           <div class="image">
              <img src="images/interviewbit.jpeg">
           </div>
           <div class="title">
            <h1></h1>
           </div>
           <div class="des">
            <a href="https://www.interviewbit.com/">
               <button type="button">more Info...</button>
            </a>
           </div>
           </div>
           <!--cards -->




           <div class="card" style="background-color: #ebf0fc;">

            <div class="">
               <img src="">
            </div>
            <div class="">
             <h1></h1>
             <h1></h1>

            </div>
            <div class="">
               <a href="">
                  <button type="button"></button>
               </a>
            </div>
            </div>




            <h4 class="heading" style="margin-top: 70px; color: #182747;">HIRING PLATFORMS</h4>







            <div class="card" style="background-color: #ebf0fc;">

               <div class="">
                  <img src="">
               </div>
               <div class="">
                <h1></h1>
                <h1></h1>

               </div>
               <div class="">
                  <a href="">
                     <button type="button"></button>
                  </a>
               </div>
               </div>



           <div class="card" style="background-color: white;">

           <div class="image">
              <img src="images/unstop.jpeg">
           </div>
           <div class="title">
            <h1></h1>
           </div>
           <div class="des">
            <a href="https://unstop.com/">
               <button type="button">more Info...</button>
            </a>
           </div>
           </div>

           <div class="card" style="background-color: white;">

               <div class="image">
                  <img src="images/intern.jpg">
               </div>
               <div class="title">
                <h1></h1>
               </div>
               <div class="des">
                <a href="https://internshala.com/">
                   <button type="button">more Info...</button>
                </a>

               </div>
               </div>



           <div class="card" style="background-color: white;">

            <div class="image">
               <img src="images/th.png">
            </div>
            <div class="title">
             <h1></h1>
            </div>
            <div class="des">
             <a href="https://www.techgig.com/">
                <button type="button">more Info...</button>
             </a>
            </div>
            </div>
         </div>

           <!-- cards
           <div class="exelsheet" >
            <a href="https://docs.google.com/spreadsheets/d/1RxorROSjwUNCBdFEx9diyHNz-a1gG4jdYFIhfNZQTcE/edit#gid=1789144628" target="_blank">If you want to know more about other companies then visit this page</a>
           </div> -->

   <%- include("partials/footer") -%>
   </div>
